:local(.TextList) {
  list-style: none;
  padding: 0;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
  margin: 2em 1em 4em 1em;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }

  & li {
    color: black;

    & button,
    & a {
      font-weight: 500;
      letter-spacing: 0.1em;
      padding: 1.5em 1em;
      border-bottom: 1px solid rgba(225, 225, 225, 0.4);
    }

    &:nth-child(2n-1) button,
    &:nth-child(2n-1) a {
      background: rgba(225, 225, 225, 0.2);
    }
    &:nth-child(2n) button,
    &:nth-child(2n) a {
      font-weight: 400;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  & button,
  & a {
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 1em;
    margin: 0;
    border: 0;
    font-size: 1rem;
    display: inline-block;
    color: #282828;
    text-decoration: none;

    &:disabled {
      color: black;
    }
  }

  & a {
    width: calc(100% - 2em);
  }
}
