@import "../Shared/styles";

:local(.Footer) {
  margin-top: 10em;
  min-height: 10em;
  background-color: rgba(0, 0, 0, 0.025);
  display: flex;
  flex-direction: column;
  padding: 1em;

  & a {
    margin: 1em 0;
    padding: 2em 1em;
    color: $dark-blue;

    // &:nth-child(2n) {
    //   background-color: white;
    // }
    // &:nth-child(2n-1) {
    //   background-color: rgba(0, 0, 0, 0.05);
    // }

    border: 1px solid;
  }

  @media only screen and (min-width: 768px) {
    & a {
      width: 40%;
      margin: 1em;
    }
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2em;
  }
}

:local(.DarkFooter) {
  @extend :local(.Footer);

  & a {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: 0;
  }
}
